---
import type { Playlist } from "@/lib/data";

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists, color } = playlist;

const artistsString = artists.join(", ");
---

<a
  href={`/playlist/${id}`}
  class="playlist-item transition-all duration-300 flex relative p-2 overflow-hidden items-center gap-5 rounded-md shadow-lg hover:shadow-xl bg-zinc-800/40 hover:bg-zinc-800/60 w-96"
  >
  <picture class="h-12 w-12 flex-none">
    <img
      src={cover}
      alt={`Cover of ${title} by ${artistsString}`}
      class="object-cover w-full h-full rounded-md"
      />
  </picture>
  <div class="flex flex-auto flex-col truncate">
    <h4 class="text-white text-md font-bold">{title}</h4>
  </div>
</a>
